<!DOCTYPE html>
<html>
<head>
	<link href="<%= url('css/style.css') %>" rel="stylesheet" type="text/css" />
  <title>BattleShips App</title>
</head>
<body>
	<h1>Battleships</h1>
	<%= yield %>
<!-- 	<link href="/css/style.css" rel="stylesheet" type="text/css"> -->

	</body>
</html>

	