<form name="submit-player" action="new_game" method="post">
	<h4> Please enter your name to start a game:</h4>
	<input type="text" name="player" placeholder="name...">
	<div>
		<button name="submit-button" type="submit">	Go!</button>
	</div>
</form>



