<!DOCTYPE html>
<html>
<head>
  <title>BattleShips App</title>
  <meta http-equiv="refresh" content="1">
</head>
<body>
	 	<% if @message %>
	 		<h1><%=@message %></h1>
	 	<% end %>
		<h2>Waiting for the other player...</h2>
</body>
</html>