body {
	text-align: center;
	background-color: black;
  background-image: url(/images/steel.jpg);
  background-size:   cover;                    
  background-repeat: no-repeat;
}

h1 {
	background: white;
	color: black;
	font-family: impact;
	font-size: 40pt;
}

head {
	text-align: center
}

#result {
	font-size: 60pt;
	color: red;
}

h2 {
	font-family: impact;
	text-align: center;
}

h3 {
	font-family: impact;
	text-align: center;
}

h4 {
	font-family: impact;
	font-size: 20pt;
	text-align: center;
	margin: 10px;
}

h6 {
	font-family: impact;
	text-align: center;
}

p {
	display: inline-block;
	font-family: impact;	
}

#Go {
	margin-top: 20px;
}

a {
	font-family: impact;
	color: black;
	background: transparent;
	font-size: 40pt;
}

#deploy-ships {
	/*float: left;*/
}

#name-input {
	width: 130px;
	height: 30px;
	font-family: impact;
	font-size: 15pt;
	border-width: medium;
}

.small-coord {
	border-width: medium;
	width: 40px;
	height: 15px;
	font-family: impact;
	font-size: 10pt;
	text-align: center;
}

form {
	font-family: impact;
	color: black;
}

table{
	float: none;
	border-collapse:collapse;
	border:1px solid #00FF33;
	display: inline-block;
	color: #00FF33;
}

table td{
	border:1px solid #00FF33;
	background-color: #0A0A0A;
	vertical-align: center;
}

td, tr {
	width: 1em; height: 1em;
	padding: 5px;
}

caption {
	font-size: 25px;
	vertical-align: center;
	border:1px solid #00FF33;
	background-color: #0A0A0A;
	font-family: impact;
	color: white;
}

#submit-ship-positions {
	margin-top: 20px;
	font-size: 15pt
}

#order-fire {
	width: 80px;
	height: 40px;
	border-width: medium;
	margin: 20px;
	font-family: impact;
	font-size: 25pt;
	text-align: center;
}

button {
	font-size: 25pt;
	font-family: impact;
	background: yellow;
	border-color: black;
	width: 4em;  height: 2em;
	float: none;
	display: inline-block;
	border-width: medium;
}

section {
	width: 600px;
	margin: 0px;
	display: inline-block;
}





